#demos-body {
    margin-top: 3em;
    margin-bottom: 4em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

#demos-body #title {
    font-size: 3.5em;
}

#demos-body .demo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60%;

    padding: 1em;
    padding-top: 0;

    border-radius: 1em;
    background-color: rgba(190, 190, 190, 0.3);
}

#demos-body .demo-section img {
    width: 100%;
    border-radius: .3em;
}

#demos-body .demo-section button {
    display: flex;
    align-items: center;
    height: 2.5em;
    border-radius: .5em;
    border: 2px dashed black;
    font-weight: 600;
    cursor: pointer;
}

#demos-body .demo-section button:hover {
    border: 2px solid black;
}

#demos-body .demo-section button img {
    object-fit: contain;
    width: fit-content;
    margin-right: .8em;
    margin-left: .3em;
}

#demos-body .demo-section button.windows {
    background-color: rgba(46, 128, 221, 0.638);
}

#demos-body .demo-section button.macos {
    background-color: rgba(46, 128, 221, 0.233);
}

@media screen and (max-width: 600px) {
    #demos-body .demo-section {
        max-width: 90%;
    }
}