.base {
    max-width: 90vw;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 4em;
    gap: 2em;
    text-align: center;
}

.base>* {
    transition: .13s;
}

.base>*:hover {
    outline: 2px solid rgba(0, 0, 0, 0.08);
    transition: .2s;
    box-shadow: 6px 9px 10px 3px rgba(0, 0, 0, 0.15);
}

.base>*:active {
    scale: 1.03;
    outline: 1.8px solid black;
}

.info {
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 1em;
}

.info>* {
    transition: .13s;
}

.info>*:hover {
    transition: .2s;
}

.info>*:active {
    scale: 1.03;
}

.info-sec-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.info-sec-cont>* {
    transition: .13s;
}

.info-sec-cont>*:hover {
    transition: .2s;
}

.info-sec-cont>*:active {
    scale: 1.03;
}

.info-sec-cont>a.info-sec:active {
    background-color: rgb(175, 175, 175);
}

.info-sec-cont>.info-sec:active {
    background-color: rgb(230, 230, 230);
}

.info-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: .2em;
    border-radius: 1em;
    background-color: rgba(0, 0, 0, 0.08);
}

a.info-sec {
    outline: 2px solid rgba(0, 0, 255, 0.2);

    color: inherit;
    text-decoration: none;

    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

a.info-sec:hover {
    scale: 1.01;
}

a.info-sec:active {
    outline: 2px solid rgba(0, 0, 255, 0.4);
}

.info-sec img {
    padding: 1em;
}

.info-sec p {
    margin: 0;
}

.info-sec>* {
    transition: .13s;
}

.info-sec>*:hover {
    transition: .2s;
}

.info-sec>*:active {
    scale: 1.03;
}

.page-pane {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: rgba(0, 136, 255, 0.13);
    border-radius: 1em;

    color: inherit;
    text-decoration: none;

    cursor: pointer;

    user-select: none;
    -moz-user-select: none;
}

.page-pane:hover {
    outline: 2px dashed rgba(0, 0, 0, 0.4);
    box-shadow: none;
    transition: .1s;
}

.page-pane:active {
    scale: 0.97;
}

.page-pane span {
    font-size: xx-small;
    transition: .15s;
}

.page-pane:hover span {
    font-size: x-large;
}

.split-comparison {
    display: flex;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    padding: 1em;
}

.split-comparison .pane {
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    overflow: hidden;
    position: relative;
    border-right: 2px solid white;
}

.split-comparison .pane:last-child {
    border-right: none;
}

.split-comparison .pane img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 300%;
    object-fit: cover;
}

.split-comparison .pane small {
    z-index: 1;
    background-color: rgba(215, 215, 215, 0.1);
}

.info-sec ul {
    text-align: initial;
}


@media screen and (max-width: 600px) {
    .base {
        max-width: none;
        padding-left: 0;
        padding-right: 0;
    }

    .base>* {
        transition: none;
    }

    .base>*:hover {
        outline: none;
    }

    .page-pane {
        width: 100%;

        outline: 2px solid rgba(0, 0, 0, 0.1);
        border-radius: 0;
    }
}