.carousel-container {
    position: relative;
    overflow: hidden;
    touch-action: pan-y;
    width: 100vw;
    height: 45vh;
}

.carousel-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.4);
    font-size: 13vw;
    font-weight: bold;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.carousel-title:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: rainbow-animation 3s alternate infinite;
    opacity: 70%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.carousel-image {
    flex: 0 0 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    cursor: alias;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5em);
    color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.carousel-button.prev {
    left: 0;
    border-radius: 0 .5em .5em 0;
}

.carousel-button.next {
    right: 0;
    border-radius: .5em 0 0 .5em;
}

#enlarged-image-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(100, 100, 100, 0.4);
    z-index: 100;
}

@keyframes rainbow-animation {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}