.base {
    max-width: 50em;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 2em;
    padding-bottom: 4em;
    gap: 2em;
    text-align: center;
}

.base>* {
    transition: .3s;
}

.base>*:hover {
    outline: 3px dashed black;
}

.info {
    padding: 1em;
    background-color: rgba(32, 115, 211, 0.4);
    border-radius: 1em;
}

.downloadPane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: rgba(99, 215, 45, 0.511);
    border-radius: 1em;
}

.downloadPane button {
    display: flex;
    align-items: center;
    height: 2.5em;
    border-radius: .5em;
    border: 2px dashed black;
    font-weight: 600;
    cursor: pointer;
}

.downloadPane button:hover {
    border: 2px solid black;
}

.downloadPane button img {
    padding: 1em;
}

.downloadPane button.windows {
    background-color: rgba(46, 128, 221, 0.638);
}

.downloadPane button.macos {
    background-color: rgba(46, 128, 221, 0.233);
}

.downloadPane button.web {
    background-color: rgba(255, 255, 255, 0.229);
    opacity: 50%;
    cursor: no-drop;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.095);
    backdrop-filter: blur(1em);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}